<h1> Projects: </h1>

<% @projects.each do |project| %>
    <h3><%= link_to project.name, project_path(project) %></h3>
    <%= link_to "Rename", edit_project_path(project) %>
    <%= link_to "Delete", project, method: :delete %>
<% end %>
<br>
<br>
<%= link_to "Create a new project", new_project_path(@project) %>